body {
    font-family: myriad-pro, sans-serif;
    background-color: #9ACDCE;
}

/* Navbar */

nav {
    background-color: white;
    max-height: 3.5em;


}

nav a {
    color: white;
}

nav #logo{
  width: 100%;
  height: 100%;
  max-width: 25px;
  max-height: 40px;
}


/*Conteudo*/
#title{
    position: absolute;
    top: 15%;
    left: 38%;

}
#title h1{
    color: #F2F2F2;
    font-size: 180%;
    padding-top: 18%;
}
/* Login */

#login {
    background-image: url(../img/background/LoginRetangulo@144x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 23%;
    max-height: 45%;
    left: 38.5%;
    top: 32%;
    padding-left: 2.7%;
    padding-right: 3.5%;
    text-align: center;

}
#icon01, #icon02, #icon03, #icon04, #icon05, #icon06{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 8%;
    max-height: 8%;
}
#icon01{
    top: 20%;
    left: 30%;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
}
#icon02{
    top: 40%;
    left: 10%;
    animation-duration: 2s;
    animation-duration: alternate;
}
#icon03{
    top: 60%;
    left: 30%;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
}
#icon04{
    top: 20%;
    right: 30%;
    animation-direction: alternate-reverse;
    animation-duration: 2s;
}
#icon05{
    top: 40%;
    right: 10%;
    animation-duration: 4s;
    animation-direction: alternate-reverse;

}
#icon06{
    top: 60%;
    right: 30%;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
}
#login #senha{
    margin-top: -20%;
}
#login input {

    border: none;
    border-radius: 0;
    margin: 0;
    background-color: #F2F2F2;
    color: #298980;
    height: 11%;
    margin-top: -10%;

}
#login h1 {
    padding-top: 2%;
    margin-top: -5%;
    background-color: #69A3A3;
    width: 100%;
    height: 100%;
    max-width: 50%;
    max-height: 07%;
    padding-left: 10%;
    padding-right: 10%;
    color: #F2F2F2;
    font-weight: 0;
    font-family: sans-serif;
    font-size: 80%;

}
#login button{
    border: none;
    border-radius: 0;
    margin: 0;
    color: white;
    background-color: #9ACDCE;
    height: 11%;
    margin-top: -10%;


}
#firstAcess{
      margin-top: -25%;
}
#login #fora{
  position: absolute;
  top: 95%;
  left: -0%;
  color: #F2F2F2;
  font-family: sans-serif;
  font-size: 110%;
  border: none;
  border-radius: 0;
  animation: blink-2 3s linear infinite;
}
#login #fora:active{
  border: none;

}
#content {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
#content .col-6 {
    margin: 0;
    padding: 0;
}
#content a{
    color: pink;
}

#content .col-6 #avatar1 {
    position: absolute;
    height: 100%;
    max-height: 40%;
    max-width: 50%;
    top: 36%;
    left: 63%;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#content .col-6 #avatar2 {
    position: absolute;
    height: 100%;
    max-height: 40%;
    max-width: 50%;
    top: 36%;
    right: 63%;
    animation-duration: 3s;
    animation-iteration-count: infinite;


}
#content_back01 {
    width: 100vh;
    height: 100vh;
    background-image: url(../img/background/DetalhesEsquerda%206@144x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 30%;


}

#content_back02 {
    width: 100vh;
    height: 100vh;
    background-image: url(../img/background/DetalhesEsquerda%206@144x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 30%;
}

/* Footer */

#footer {
  background-image: url(../img/footer/footer@144x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 16%;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

#footer h4 {
    text-align: center;
    color: white;
}

/* Icones: */
